{% extends './base.html' %}

{% block title %}
    <title>Log-In Page</title>
{% endblock title %}

{% block content %}

    <form action="" method="POST" novalidate >

        {% csrf_token %}
        {% for error in forms.non_field_errors %}
            <p>{{ error }}</p>
        {% endfor %}

        {% for fm in forms %}
            {{ fm.label_tag }} {{ fm }} {{fm.errors|striptags}} <br><br>
        {% endfor %}

        <input type="submit" value="Login"><br>
    </form>
    {% comment %} <a href="{% url 'signup' %}">signup</a> {% endcomment %}
    
{% endblock content %}