{% extends './base.html' %}

{% block title %}
    <title>Profile Page</title>
{% endblock title %}

{% block content %}
    {% if users %}
        {% for user in  users %}
            
            
            
                {% if perms.auth.view_user %}
                    <a href="{% url 'showuser' user.id %}">{{user.username}}</a><br>
                {% endif %}

                {% if perms.auth.delete_user %}
                    <a href="{% url 'deleteuser' user.id %}">delete</a><br>
                {% endif %}

              
        {% endfor %}
    
    {% endif %}

    <form action="" method="POST" novalidate>
        {% csrf_token %}
        {% for fm in forms %}
            {{fm.label_tag}} {{fm}} {{fm.errors|striptags}}<br><br>
        
        {% endfor %}
        <input type="submit" value="save">
    </form>

    <a href="{% url 'logout' %}">logout</a><br>
    <a href="{% url 'changepassword' %}">changePassword</a><br>
  
{% endblock content %}

