{% extends './base.html' %}

{% block title %}
    <title>Profile Page</title>
{% endblock title %}

{% block content %}
    {% if messages %}
    
        {% for message in messages %}
            <small {% if message.tag %} class="{{message.tag}}" {% endif %}>{{message}}</small>

        {% endfor %}

        <h1>{{user.username}}</h1>
        <h1>{{user.is_staff}}</h1>
        <h1>{{user.last_login}}</h1>
        <h1>{{user.get_full_name()}}</h1>

         <a href="{% url 'logout' %}">logout</a><br>
         <a href="{% url 'changepassword' %}">changePassword</a><br>
    {% endif %}
{% endblock content %}

